.c-feature-panel {
    --padding: 2rem;
    --max-width: 25rem;
    background-color: red; /* PARA PRUEBA */
    border: 1px solid white;
    position: relative;
    overflow: hidden;

    $b: &;

    @include from(xs) {
        border-radius: 1.25rem;
    }

    @include from(md) {
        --padding: 2.5rem;

        .break-line {
            display: none;
        }
    }

    @include from(lg) {
        --max-width: 31.25rem;
    }

    &__content {
        padding: var(--padding);

        @include from(md) {
            max-width: var(--max-width);
            padding-right: 0;
        }
    }

    &__container {
        @include from(md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__title {
        font-size: var(--normal-title-size);
        margin-bottom: 1.5rem;

        @include from(lg) {
            margin-bottom: 5.5rem;
        }
    }

    &__subtitle {
        font-weight: var(--bold-font);
        font-size: 2rem;
        margin-bottom: 1.25rem;

        @include from(xs) {
            font-size: var(--bigger-title-size);
        }

        @include from(lg) {
            margin-bottom: 1.5rem;
        }
    }

    &__description {
        margin-bottom: 2rem;
        font-size: 1.25rem;
        line-height: 1.4em;
        letter-spacing: 0.012em;
        font-family: var(--display-font);
        font-weight: var(--semi-bold-font);

        @include from(lg) {
            margin-bottom: 4.5rem;
        }
    }

    &__characteristic-container {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin-bottom: 4rem;
        padding-inline: 2rem;
        font-size: 1.25rem;
        text-align: center;
        list-style: none;

        @include from(lg) {
            align-items: center;
            padding-inline: 2rem;
        }
    }

    &__characteristic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__number {
        --size: 5rem;
        font-size: var(--size);
        font-family: var(--display-font);
        font-weight: var(--bold-font);
        line-height: 1;

        & .x {
            font-size: calc(var(--size) - 2rem);
        }

        @include from(md) {
            --size: 6rem;
        }

        @include from(lg) {
            --size: 9rem;
        }
    }

    &__caption {
        font-weight: var(--bold-font);
    }

    &--cpu {
        background-image: linear-gradient(-135deg, #c6368a 0%, #673dc2 100%);

        & .accent {
            color: #c48cfc;
        }

        #{$b}__img {
            --width: 90%;

            display: block;
            width: var(--width);
            margin-left: auto;

            @include from(md) {
                position: absolute;
                bottom: 0;
                --width: 32rem;
                --spacing: 4rem;

                left: calc(var(--width) + var(--spacing));
            }

            @include from(lg) {
                --width: 45rem;
                --spacing: 0rem;
            }
        }
    }

    &--gpu {
        background-color: transparent;

        #{$b}__video {
            position: absolute;
            left: 0%;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: var(--z-negative);
        }

        #{$b}__content {
            max-width: initial;
        }

        #{$b}__characteristic-container {
            padding-top: 3rem;
        }
    }
}
