.c-feature-panel {
    --padding: 2rem;
    --max-width: 25rem;
    background-color: red;
    position: relative;
    overflow: hidden;

    $b: &;

    @include from(xs) {
        border-radius: 1.25rem;
    }

    @include from(md) {
        --padding: 2.5rem;

        .break-line {
            display: none;
        }
    }

    @include from(lg) {
        --max-width: 31.25rem;
    }

    &__content {
        padding: var(--padding);

        @include from(md) {
            max-width: var(--max-width);
            padding-right: 0;
        }
    }

    &__title {
        font-size: var(--normal-title-size);
        margin-bottom: 1.5rem;

        @include from(lg) {
            margin-bottom: 5.5rem;
        }
    }

    &__subtitle {
        font-weight: var(--bold-font);
        font-size: 2rem;
        margin-bottom: 1.25rem;

        @include from(xs) {
            font-size: var(--bigger-title-size);
        }

        @include from(lg) {
            margin-bottom: 1.5rem;
        }
    }

    &__description {
        margin-bottom: 2rem;
        font-size: 1.25rem;
        line-height: 1.4em;
        letter-spacing: 0.012em;
        font-family: var(--display-font);
        font-weight: var(--semi-bold-font);

        @include from(lg) {
            margin-bottom: 4.5rem;
        }
    }

    &--cpu {
        background-image: linear-gradient(-135deg, #c6368a 0%, #673dc2 100%);

        & .accent {
            color: #c48cfc;
        }

        #{$b}__img {
            --width: 90%;

            display: block;
            width: var(--width);
            margin-left: auto;

            @include from(md) {
                position: absolute;
                bottom: 0;
                --width: 32rem;
                --spacing: 4rem;

                left: calc(var(--width) + var(--spacing));
            }

            @include from(lg) {
                --width: 45rem;
                --spacing: 0rem;
            }
        }
    }
}
