.c-hero-banner {
    text-align: center;

    &__img {
        max-width: 46rem;
        height: 27rem;
        position: relative;
    }

    &__picture {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__container {
        margin-top: -5.5rem;
        font-family: var(--display-font);
        position: relative;
        color: var(--text-color-alt);
        font-size: var(--bigger-body-size);
        font-weight: var(--medium-font);
        letter-spacing: 0.0005em;
        line-height: 1.25;
    }

    &__title {
        margin-bottom: 0.5rem;
        font-size: var(--bigger-body-size);
    }

    &__subtitle {
        font-size: 3rem;
        line-height: 1.05;
        letter-spacing: -0.015em;
        font-weight: var(--bold-font);
        margin-bottom: 1.25rem;

        background-image: radial-gradient(#eff1ff, #000 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: 50% 75%;
        background-size: 150% 200%;
    }

    &__description {
        max-width: 56rem;
        margin-inline: auto;
        margin-bottom: 2.5rem;
    }

    &__textico,
    &__act {
        font-size: 1.25rem;
    }

    &__textico {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
    }

    &__ico {
        --size: 4rem;
        width: var(--size);
        height: var(--size);
    }

    &__actions {
        display: flex;
        flex-direction: column;
    }

    &__act {
        color: var(--text-color);
        font-weight: var(--normal-font);
        padding-block: 0.5rem;
    }
}
