.c-hero-banner {
    text-align: center;

    &__img {
        max-width: 46rem;
        height: 27rem;
        position: relative;

        @include from(md) {
            max-width: 66rem;
            height: 39rem;
        }
        @include from(lg) {
            max-width: 80rem;
            height: 40rem;
        }
    }

    &__picture {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &--dark {
            animation: turn-on-images 0.8s ease-in-out 0.1s forwards;
        }
    }

    &__container {
        margin-top: -5.5rem;
        font-family: var(--display-font);
        position: relative;
        color: var(--text-color-alt);
        font-size: var(--bigger-body-size);
        font-weight: var(--medium-font);
        letter-spacing: 0.0005em;
        line-height: 1.25;

        @include from(md) {
            margin-top: -8rem;
        }

        @include from(md) {
            margin-top: -10rem;
        }
    }

    &__title,
    &__subtitle,
    &__description,
    &__textico,
    &__actions {
        opacity: 0;

        transform: translateY(4rem);
        animation: fade 0.5s ease-out forwards;
    }

    &__title {
        margin-bottom: 0.5rem;
        font-size: var(--bigger-body-size);
        animation-delay: 0.5s;

        @include from(md) {
            font-size: 5rem;
            margin-bottom: 1rem;
        }

        @include from(md) {
            font-size: 6rem;
            margin-bottom: 1.5rem;
        }
    }

    &__subtitle {
        font-size: 2rem;
        line-height: 1.05;
        letter-spacing: -0.015em;
        font-weight: var(--bold-font);
        padding-bottom: 1.25rem;

        background-image: radial-gradient(#eff1ff, #000 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: 50% 75%;
        background-size: 150% 200%;

        animation-delay: 0.7s;
    }

    &__description {
        max-width: 56rem;
        margin-inline: auto;
        margin-bottom: 2.5rem;

        animation-delay: 0.9s;
    }

    &__textico,
    &__actions {
        font-size: 1.25rem;

        @include from(md) {
            font-size: var(--big-body-size);
        }
    }

    &__textico {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;

        @include from(md) {
            flex-direction: row;
        }

        animation-delay: 1.1s;
    }

    &__ico {
        --size: 4rem;
        width: var(--size);
        height: var(--size);

        @include from(md) {
            --size: 6rem;
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;

        @include from(md) {
            flex-direction: row;
        }
    }

    &__act {
        color: var(--text-color);
        font-weight: var(--normal-font);
        padding-block: 0.5rem;

        @include from(md) {
            padding: 0;

            &:first-of-type::after {
                content: "|";
                padding-inline: 2rem;
            }
        }
    }
}
