.c-overlay {
    position: fixed;
    z-index: var(--z-normal);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;
    transition: opacity 1000ms 100ms;
    pointer-events: none;

    .c-header.is-active ~ & {
        opacity: 1;
        pointer-events: initial;
    }
}
