.o-place-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.o-gap {
    gap: 0.75rem;

    @include from(md) {
        gap: 1.5rem;
    }
}
.o-container {
    margin-inline: auto;
    width: calc(100% - 4rem);

    @include from(md) {
        width: 100%;
        max-width: calc(100% - 3rem);
    }
    @include from(lg) {
        max-width: 61.25rem;
    }
}

.c-main {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include from(md) {
        gap: 7rem;
    }
    @include from(lg) {
        gap: 10rem;
    }
}
.o-center-x {
    left: 50%;
    transform: translateX(-50%);
}

.o-grid-section {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    max-width: 25rem;
    margin-inline: auto;

    @include from(xs) {
        width: calc(100% - 3rem);
    }

    @include from(md) {
        max-width: 77.5rem;
    }
}
