:root {
  --text-color: #fff;
  --text-color-alt: #a1a1a6;
  --accent-color: #0071e3;
  --accent-color-alt: #2997ff;
  --body-bg: #000;
  --bg-color: #151516;
  --bg-color-alt: #1d1d1f;
  /* Stacking context */
  --z-negative: -1;
  --z-normal: 1;
  --z-sticky: 50;
  /* Utils */
  --header-height: 3rem;
  --time: 150ms;
  --transition-menu: 400ms;
  --large-max-width: 91%;
  --medium-max-width: 83%;
  --small-max-width: 75%;
  --border-main: 1px solid rgba(255, 255, 255, 0.25);
  --gap-element: 1.5rem; }

@font-face {
  font-family: 'SF Pro Text';
  font-size: normal;
  font-weight: 400;
  font-display: auto;
  src: local("SF Pro Text"), url("../../fonts/SFProText-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'SF Pro Display';
  font-size: normal;
  font-weight: 400;
  font-display: auto;
  src: local("SF Pro Display"), url("../../fonts/SFProDisplay-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'SF Pro Display';
  font-size: normal;
  font-weight: 500;
  font-display: auto;
  src: local("SF Pro Display"), url("../../fonts/SFProDisplay-Medium.woff2") format("woff2"); }

@font-face {
  font-family: 'SF Pro Display';
  font-size: normal;
  font-weight: 600;
  font-display: auto;
  src: local("SF Pro Display"), url("../../fonts/SFProDisplay-Semibold.woff2") format("woff2"); }

@font-face {
  font-family: 'SF Pro Display';
  font-size: normal;
  font-weight: 700;
  font-display: auto;
  src: local("SF Pro Display"), url("../../fonts/SFProDisplay-Bold.woff2") format("woff2"); }

:root {
  /* Font family */
  --body-font: 'SF Pro Text', sans-serif;
  --display-font: 'SF Pro Display', sans-serif;
  /* Body size */
  --smaller-body-size: 0.75rem;
  /* 12px */
  --big-body-size: 1.25rem;
  /* 20px */
  --bigger-body-size: 1.5rem;
  /* 24px */
  /* Title font size */
  --small-title-size: 2rem;
  /* 32px */
  --normal-title-size: 2.5rem;
  /* 40px */
  --big-title-size: 2.5rem;
  /* 40px */
  --bigger-title-size: 2.5rem;
  /* 40px */
  /* Weight */
  --normal-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;
  --bold-font: 700;
  /* Line height*/
  --title-line-height: 1.15; }

@media screen and (min-width: 768px) {
  :root {
    /* Body font size */
    --big-body-size: 1.5rem;
    /* 24px */
    --bigger-body-size: 1.75rem;
    /* 28px*/
    /* Title font size */
    --small-title-size: 2.5rem;
    /* 40px */
    --bigger-title-size: 4rem;
    /* 64px */ } }

@media screen and (min-width: 1024px) {
  :root {
    /* Body font size */
    --small-body-size: 1rem;
    /* 16px */
    --normal-body-size: 1.25rem;
    /* 20px */
    --big-body-size: 1.75rem;
    /* 28px */
    --bigger-body-size: 2rem;
    /* 32px */
    /* Title font size */
    --small-title-size: 3rem;
    /* 48px */
    --normal-title-size: 3.5rem;
    /* 56px */
    --big-title-size: 4rem;
    /* 64px */
    --bigger-title-size: 5rem;
    /* 80px */ } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes turn-on-images {
  to {
    opacity: 0; } }

@keyframes fade {
  to {
    opacity: initial;
    transform: initial; } }

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 3rem); }

body {
  color: var(--text-color);
  font-family: var(--body-font);
  background-color: var(--body-bg);
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display-font);
  font-weight: var(--semi-bold-font); }

button {
  all: unset;
  cursor: pointer; }

a {
  color: var(--accent-color-alt);
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a.arrow {
  display: inline-block; }

a.arrow::after {
  content: "\e900";
  display: inline;
  padding-left: 0.25rem;
  font-size: 0.65rem;
  font-family: "icomoon" !important;
  vertical-align: middle; }

img {
  max-width: 100%; }

.o-place-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.o-gap {
  gap: 0.75rem; }
  @media screen and (min-width: 768px) {
    .o-gap {
      gap: 1.5rem; } }

.o-container {
  margin-inline: auto;
  width: calc(100% - 4rem); }
  @media screen and (min-width: 768px) {
    .o-container {
      width: 100%;
      max-width: calc(100% - 3rem); } }
  @media screen and (min-width: 1024px) {
    .o-container {
      max-width: 61.25rem; } }

.c-main {
  display: flex;
  flex-direction: column;
  gap: 4rem; }
  @media screen and (min-width: 768px) {
    .c-main {
      gap: 7rem; } }
  @media screen and (min-width: 1024px) {
    .c-main {
      gap: 10rem; } }

.o-center-x {
  left: 50%;
  transform: translateX(-50%); }

.o-grid-section {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  max-width: 25rem;
  margin-inline: auto; }
  @media screen and (min-width: 350px) {
    .o-grid-section {
      width: calc(100% - 3rem); } }
  @media screen and (min-width: 768px) {
    .o-grid-section {
      max-width: 77.5rem; } }

.c-header {
  top: 0;
  position: sticky;
  height: var(--header-height);
  z-index: var(--z-sticky);
  background-color: var(--bg-color-alt); }
  @media screen and (min-width: 768px) {
    .c-header {
      border-bottom: var(--border-main); } }
  .c-header__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .c-header__wrapper {
        max-width: calc(100% - 2rem); } }
  .c-header__title {
    color: var(--text-color);
    font-weight: var(--semi-bold-font);
    font-size: var(--normal-body-size); }
    .c-header__title:hover {
      text-decoration: none; }
  .c-header__toggle {
    opacity: 0.8;
    width: 2rem;
    height: 2rem;
    position: relative; }
    .c-header__toggle:hover {
      opacity: 1; }
    @media screen and (min-width: 768px) {
      .c-header__toggle {
        display: none; } }
    .c-header__toggle::before, .c-header__toggle::after {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      width: 0.75rem;
      background-color: #fff;
      transition: transform 1000ms cubic-bezier(0.86, 0, 0.07, 1); }
    .c-header__toggle::before {
      left: 45%;
      transform: rotate(-40deg); }
    .c-header__toggle::after {
      right: 45%;
      transform: rotate(40deg); }
    .c-header.is-active .c-header__toggle::before {
      transform: rotate(40deg); }
    .c-header.is-active .c-header__toggle::after {
      transform: rotate(-40deg); }

.c-main-nav__list {
  list-style: none;
  font-size: var(--smaller-body-size);
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  padding: 0.25rem 2rem 1.5rem;
  border-bottom: var(--border-main);
  background-color: var(--bg-color);
  overflow: hidden;
  transform: translateY(-100%);
  z-index: var(--z-negative);
  transition: transform var(--transition-menu) var(--transition-menu); }
  .is-active .c-main-nav__list {
    transform: initial;
    transition-delay: 0s; }
  @media screen and (min-width: 768px) {
    .c-main-nav__list {
      position: static;
      transform: initial;
      display: flex;
      padding: 0;
      border-bottom: none;
      gap: var(--gap-element); } }

.c-main-nav__item {
  border-bottom: var(--border-main);
  transform: translateY(-100%);
  opacity: 0;
  transition: transform var(--transition-menu), opacity var(--transition-menu); }
  .c-main-nav__item:first-of-type {
    transition-delay: 70ms; }
  .c-main-nav__item:nth-of-type(2) {
    transition-delay: 140ms; }
  .c-main-nav__item:last-of-type {
    transition-delay: 210ms;
    border-bottom: var(--header-border); }
  .is-active .c-main-nav__item {
    transform: initial;
    opacity: initial; }
    .is-active .c-main-nav__item:first-of-type {
      transition-delay: 560ms; }
    .is-active .c-main-nav__item:nth-of-type(2) {
      transition-delay: 490ms; }
    .is-active .c-main-nav__item:nth-of-type(3) {
      transition-delay: 420ms; }
  @media screen and (min-width: 768px) {
    .c-main-nav__item {
      opacity: 1;
      transform: initial;
      border-bottom: none; } }

.c-main-nav__link {
  display: block;
  padding: 0.85rem;
  opacity: 0.9;
  color: var(--text-color); }
  .c-main-nav__link:hover {
    color: var(--accent-color-alt);
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .c-main-nav__link {
      padding: 0; } }

.c-overlay {
  position: fixed;
  z-index: var(--z-normal);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 1000ms 100ms;
  pointer-events: none; }
  .c-header.is-active ~ .c-overlay {
    opacity: 1;
    pointer-events: initial; }

.c-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  border-radius: 100px;
  background-color: var(--accent-color);
  transition: background-color var(--time); }
  .c-button:hover {
    text-decoration: none;
    background-color: var(--accent-color-alt); }
  .c-button--tiny {
    padding: 0.25rem 0.5rem;
    font-size: var(--smaller-body-size); }

.c-hero-banner {
  text-align: center; }
  .c-hero-banner__img {
    max-width: 46rem;
    height: 27rem;
    position: relative; }
    @media screen and (min-width: 768px) {
      .c-hero-banner__img {
        max-width: 66rem;
        height: 39rem; } }
    @media screen and (min-width: 1024px) {
      .c-hero-banner__img {
        max-width: 80rem;
        height: 40rem; } }
  .c-hero-banner__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .c-hero-banner__picture--dark {
      animation: turn-on-images 0.8s ease-in-out 0.1s forwards; }
  .c-hero-banner__container {
    margin-top: -5.5rem;
    font-family: var(--display-font);
    position: relative;
    color: var(--text-color-alt);
    font-size: var(--bigger-body-size);
    font-weight: var(--medium-font);
    letter-spacing: 0.0005em;
    line-height: 1.25; }
    @media screen and (min-width: 768px) {
      .c-hero-banner__container {
        margin-top: -8rem; } }
    @media screen and (min-width: 768px) {
      .c-hero-banner__container {
        margin-top: -10rem; } }
  .c-hero-banner__title, .c-hero-banner__subtitle, .c-hero-banner__description, .c-hero-banner__textico, .c-hero-banner__actions {
    opacity: 0;
    transform: translateY(4rem);
    animation: fade 0.5s ease-out forwards; }
  .c-hero-banner__title {
    margin-bottom: 0.5rem;
    font-size: var(--bigger-body-size);
    animation-delay: 0.5s; }
    @media screen and (min-width: 768px) {
      .c-hero-banner__title {
        font-size: 5rem;
        margin-bottom: 1rem; } }
    @media screen and (min-width: 768px) {
      .c-hero-banner__title {
        font-size: 6rem;
        margin-bottom: 1.5rem; } }
  .c-hero-banner__subtitle {
    font-size: 2rem;
    line-height: 1.05;
    letter-spacing: -0.015em;
    font-weight: var(--bold-font);
    padding-bottom: 1.25rem;
    background-image: radial-gradient(#eff1ff, #000 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 50% 75%;
    background-size: 150% 200%;
    animation-delay: 0.7s; }
  .c-hero-banner__description {
    max-width: 56rem;
    margin-inline: auto;
    margin-bottom: 2.5rem;
    animation-delay: 0.9s; }
  .c-hero-banner__textico, .c-hero-banner__actions {
    font-size: 1.25rem; }
    @media screen and (min-width: 768px) {
      .c-hero-banner__textico, .c-hero-banner__actions {
        font-size: var(--big-body-size); } }
  .c-hero-banner__textico {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    animation-delay: 1.1s; }
    @media screen and (min-width: 768px) {
      .c-hero-banner__textico {
        flex-direction: row; } }
  .c-hero-banner__ico {
    --size: 4rem;
    width: var(--size);
    height: var(--size); }
    @media screen and (min-width: 768px) {
      .c-hero-banner__ico {
        --size: 6rem; } }
  .c-hero-banner__actions {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .c-hero-banner__actions {
        flex-direction: row; } }
  .c-hero-banner__act {
    color: var(--text-color);
    font-weight: var(--normal-font);
    padding-block: 0.5rem; }
    @media screen and (min-width: 768px) {
      .c-hero-banner__act {
        padding: 0; }
        .c-hero-banner__act:first-of-type::after {
          content: "|";
          padding-inline: 2rem; } }

.c-chip__logo {
  height: 3rem;
  margin-bottom: 0.25rem; }
  @media screen and (min-width: 768px) {
    .c-chip__logo {
      height: 4rem;
      margin-bottom: 0.5rem; } }
  @media screen and (min-width: 1024px) {
    .c-chip__logo {
      height: 5rem;
      margin-bottom: 0.75rem; } }

.c-chip__video {
  position: absolute;
  z-index: var(--z-negative);
  width: 59rem; }
  @media screen and (min-width: 768px) {
    .c-chip__video {
      width: 81rem; } }
  @media screen and (min-width: 1024px) {
    .c-chip__video {
      width: 112rem; } }
  .c-chip__video-container {
    height: 30rem;
    overflow: hidden;
    position: relative;
    margin-top: -2rem; }
    @media screen and (min-width: 768px) {
      .c-chip__video-container {
        height: 40rem;
        margin-top: -4rem; } }
    @media screen and (min-width: 1024px) {
      .c-chip__video-container {
        height: 60rem;
        margin-top: -10rem; } }

.c-feature-panel {
  --padding: 2rem;
  --max-width: 25rem;
  background-color: red;
  /* PARA PRUEBA */
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 350px) {
    .c-feature-panel {
      border-radius: 1.25rem; } }
  @media screen and (min-width: 768px) {
    .c-feature-panel {
      --padding: 2.5rem; }
      .c-feature-panel .break-line {
        display: none; } }
  @media screen and (min-width: 1024px) {
    .c-feature-panel {
      --max-width: 31.25rem; } }
  .c-feature-panel__content {
    padding: var(--padding); }
    @media screen and (min-width: 768px) {
      .c-feature-panel__content {
        max-width: var(--max-width);
        padding-right: 0; } }
  .c-feature-panel__title {
    font-size: var(--normal-title-size);
    margin-bottom: 1.5rem; }
    @media screen and (min-width: 1024px) {
      .c-feature-panel__title {
        margin-bottom: 5.5rem; } }
  .c-feature-panel__subtitle {
    font-weight: var(--bold-font);
    font-size: 2rem;
    margin-bottom: 1.25rem; }
    @media screen and (min-width: 350px) {
      .c-feature-panel__subtitle {
        font-size: var(--bigger-title-size); } }
    @media screen and (min-width: 1024px) {
      .c-feature-panel__subtitle {
        margin-bottom: 1.5rem; } }
  .c-feature-panel__description {
    margin-bottom: 3.5rem;
    font-size: 1.25rem;
    line-height: 1.4em;
    letter-spacing: 0.012em;
    font-family: var(--display-font);
    font-weight: var(--semi-bold-font); }
    @media screen and (min-width: 1024px) {
      .c-feature-panel__description {
        margin-bottom: 4.5rem; } }
    .c-feature-panel__description .accent {
      color: var(--text-color-alt); }
  .c-feature-panel__characteristic-container {
    --column-width: 250px;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--column-width), 1fr));
    margin-bottom: 4rem;
    font-size: 1.25rem;
    text-align: center;
    list-style: none; }
    @media screen and (min-width: 1024px) {
      .c-feature-panel__characteristic-container {
        align-items: center;
        padding-inline: 2rem; } }
  .c-feature-panel__characteristic {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .c-feature-panel__number {
    --size: 5rem;
    font-size: var(--size);
    font-family: var(--display-font);
    font-weight: var(--bold-font);
    line-height: 1; }
    .c-feature-panel__number .x {
      font-size: calc(var(--size) - 2rem); }
    @media screen and (min-width: 768px) {
      .c-feature-panel__number {
        --size: 6rem; } }
    @media screen and (min-width: 1024px) {
      .c-feature-panel__number {
        --size: 9rem; } }
  .c-feature-panel__caption {
    font-weight: var(--bold-font); }
  .c-feature-panel--cpu .c-feature-panel__img, .c-feature-panel--learning .c-feature-panel__img {
    --width: 90%;
    display: block;
    width: var(--width);
    margin-left: auto; }
    @media screen and (min-width: 768px) {
      .c-feature-panel--cpu .c-feature-panel__img, .c-feature-panel--learning .c-feature-panel__img {
        position: absolute;
        bottom: 0;
        --width: 32rem;
        --spacing: 4rem;
        left: calc(var(--width) + var(--spacing)); } }
    @media screen and (min-width: 1024px) {
      .c-feature-panel--cpu .c-feature-panel__img, .c-feature-panel--learning .c-feature-panel__img {
        --width: 45rem;
        --spacing: 0rem; } }
  .c-feature-panel--cpu {
    background-image: linear-gradient(-135deg, #c6368a 0%, #673dc2 100%); }
    .c-feature-panel--cpu .accent {
      color: #c48cfc; }
  .c-feature-panel--gpu {
    background-color: transparent; }
    .c-feature-panel--gpu .c-feature-panel__video {
      position: absolute;
      left: 0%;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: var(--z-negative); }
    .c-feature-panel--gpu .c-feature-panel__content {
      max-width: initial; }
    .c-feature-panel--gpu .c-feature-panel__characteristic-container {
      padding-top: 3rem; }
    @media screen and (min-width: 768px) {
      .c-feature-panel--gpu .c-feature-panel__container {
        display: grid;
        grid-template-columns: 1fr 1fr; } }
  .c-feature-panel--learning {
    background-image: linear-gradient(-135deg, #590a0d 0%, #10071c 100%); }
    .c-feature-panel--learning .c-feature-panel__description {
      font-size: var(--big-body-size);
      line-height: 1.2; }
    .c-feature-panel--learning .c-feature-panel__caption {
      font-weight: var(--medium-font); }
    @media screen and (min-width: 1024px) {
      .c-feature-panel--learning .c-feature-panel__content {
        --max-width: 35rem; } }
    .c-feature-panel--learning .c-feature-panel__characteristic-container {
      align-items: end;
      grid-template-columns: 1fr 1fr; }
      @media screen and (min-width: 768px) {
        .c-feature-panel--learning .c-feature-panel__characteristic-container {
          --column-width: 9.25rem;
          gap: 5rem; } }
      @media screen and (min-width: 1024px) {
        .c-feature-panel--learning .c-feature-panel__characteristic-container {
          --column-width: 12.5rem; } }

.black-background {
  background-color: var(--bg-color); }

.black-background-alt {
  background-color: var(--bg-color-alt); }

.image-container {
  position: relative; }

/* TYPOGRAPHY */
.display-font {
  font-family: var(--display-font); }

.body-font {
  font-family: var(--body-font); }

.big-title {
  font-size: var(--bigger-title-size);
  font-weight: var(--bold-font);
  letter-spacing: -0.015em;
  margin-bottom: 0.75rem; }

.big-title .accent {
  color: var(--text-color-alt); }

.big-description {
  max-width: var(--large-max-width);
  color: var(--text-color-alt);
  font-size: var(--big-body-size);
  font-weight: var(--medium-font);
  line-height: var(--title-line-height); }

@media screen and (min-width: 768px) {
  .big-description {
    max-width: var(--large-max-width); } }

@media screen and (min-width: 1024px) {
  .big-description {
    max-width: var(--small-max-width); } }

/* TYPOGRAPHY */
